<%- include("partials/header-admin"); -%>

<!-- users.ejs -->

<div class="container mt-5">
    <h1>Total Users : <%= userCount %></h1>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <form action="/users" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search by Name or Email">
                </div> <br>
                <button type="submit" class="btn btn-primary" >Search</button>
                <button type="reser" class="btn btn-danger" >Cancel</button>
            </form>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= user.name %></td>
                        <td><%= user.username %></td>
                        <td>$<%= user.balance %></td>
                        <td><%= user.isAdmin ? 'Yes' : 'No' %></td>
                        <td>
                            <a href="/users/<%= user._id %>/user-edit" class="btn btn-primary">Edit</a>
                            <a href="/users/<%= user._id %>/user-delete" class="btn btn-danger">Delete</a>
                            <!-- Add more actions here if needed -->
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9149809198719246"
     crossorigin="anonymous"></script>
     
<%- include("partials/footer"); -%>
