<!-- user-edit.ejs -->

<%- include("partials/header-admin"); -%>

<div class="container mt-5">
    <h1>Edit User</h1>
    <form action="/users/<%= user._id %>/edit" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="username" value="<%= user.username %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="isAdmin">Admin:</label>
            <select class="form-control" id="isAdmin" name="isAdmin">
                <option value="true" <% if (user.isAdmin) { %>selected<% } %>>Yes</option>
                <option value="false" <% if (!user.isAdmin) { %>selected<% } %>>No</option>
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="balance">Balance:</label>
            <input type="number" id="balance" name="balance" value="<%= user.balance %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="balance">Paid Credits:</label>
            <input type="number" id="paidcredits" name="paidcredits" value="<%= user.paidCredits %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="balance">Unpaid Credits:</label>
            <input type="number" id="unpaidcredits" name="unpaidcredits" value="<%= user.unpaidCredits %>" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="balance">Waiting action:</label>
            <input type="number" id="waitingAction" name="waitingAction" value="<%= user.waitingAction %>" class="form-control">
        </div>

        <div class="form-group">
            <label for="balance">In process:</label>
            <input type="number" id="inprocess" name="inprocess" value="<%= user.inprocess %>" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="balance">Success:</label>
            <input type="number" id="success" name="success" value="<%= user.success %>" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="balance">Rejected:</label>
            <input type="number" id="rejected" name="rejected" value="<%= user.rejected %>" class="form-control">
        </div>

        <div class="form-group">
            <label for="balance">Cancelled:</label>
            <input type="number" id="cancelled" name="cancelled" value="<%= user.cancelled %>" class="form-control">
        </div>

        <br>
        <!-- Add more form fields for other user information as needed -->
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

<br><br><br>
<%- include("partials/footer"); -%>
