<%- include("partials/header-user"); -%>





<div class="container mt-4">
    <h1 class="mt-4 mb-3">IMEI Orders</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">IMEI</th>
                    <th scope="col">Service</th>
                    <th scope="col">Price</th>
                    <th scope="col">Order Status</th>
                </tr>
            </thead>
            <tbody>
                <% imeiList.forEach(imeiObject => { %>
                    <tr style="color: <%= imeiObject.color %>;">
                        <td><%= imeiObject.imeiNumber %></td>
                        <td><%= imeiObject.service %></td>
                        <td> $<%= imeiObject.price %></td>
                        <td style="color: <%= imeiObject.color %>;">
                            <%= imeiObject.status %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>













<br><br><br><br><br><br><br>

<%- include("partials/footer"); -%>